.card {
  max-width: 14vw;
  height: auto;
  background: #dbac74;
  border: 1px solid #fff;
}

.btn-primary {
  background: #fff;
  color: #dbac74;
  border: none;
  max-height: 4vw;
  font-size: 1.5vw;
}

.card-title {
  text-align: center;
  font-size: 2.5vw;
  color: rgb(255, 255, 255);
}

div.card-body {
  height: 5vw;
}

@media only screen and (max-width: 1080px) and (orientation: portrait) {
  .card {
    max-width: 18vh;
    height: 21vh;
  }
  .btn-primary {
    max-height: 4vh;
    font-size: 1.5vh;
  }
  .card-title {
    font-size: 2vh;
  }
}

@media only screen and (max-width: 576px) and (orientation: portrait) {
  .card {
    max-width: 60vw;
    height: auto;
  }
  .btn-primary {
    max-height: 6vw;
    font-size: 3vw;
  }
  .card-title {
    font-size: 4vw;
  }
  div.card-body {
    height: 10vw;
  }
}