.Header {
  display: flex;
  justify-content: space-between;
}

.Header-title {
  color: white;
  font-size: 5.5vw;
  letter-spacing: normal;
}

.Header-text {
  color: white;
  font-size: 4.5vw;
  white-space: pre-line;
  letter-spacing: normal;
  line-height: 4vw;
}

.image-block {
  width: auto;
  height: auto;
  margin-bottom: 1vw;
}
.img {
  max-width: 13vw;
}

@media only screen and (max-width: 1080px) and (orientation: portrait) {
  .img {
    max-width: 9vh;
  }
  .Header-title {
    font-size: 3vh;
  }
  .Header-text {
    color: white;
    font-size: 5vw;
    line-height: 6vw;
  }
}

@media only screen and (max-width: 576px) and (orientation: portrait) {
  .img {
    display: none;
  }
  .Header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Header-title {
    text-align: center;
    font-size: 7vw;
  }
  .Header-text {
    text-align: center;
  }
}